.App {
  border: 2px solid rgb(68, 68, 68);
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.347);
}

#title {
  font-size: 34pt;
  font-family: Poppins, 'Century Gothic', sans-serif;
  color: rgb(43, 43, 43);
  padding-bottom: 30px;
}

button {
  font-family: monospace;
  font-size: larger;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#incrBtn {
  background-color: rgb(150, 255, 150);
  margin-right: 5px;
}

#decrBtn {
  background-color: rgb(255, 150, 150);
  margin-left: 5px;
  margin-right: 5px;
}

#rstBtn {
  background-color: rgb(149, 149, 149);
  margin-left: 5px;
}