.counter {
  border: 2px solid rgb(68, 68, 68);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  width: 60%;
  text-align: center;
}

#title {
  font-size: 2.5rem;
  font-family: Poppins, 'Century Gothic', sans-serif;
  color: rgb(43, 43, 43);
  padding-bottom: 30px;
}

button {
  color: white;
  font-family: monospace;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#incrBtn {
  background-color: hsl(120, 100%, 25%);
  margin-right: 5px;
}

#decrBtn {
  background-color: hsl(0, 100%, 25%);
  margin-left: 5px;
  margin-right: 5px;
}

#rstBtn {
  background-color: hsl(0, 0%, 0%);
  margin-left: 5px;
}

#dev-info {
  color: hsl(0, 0%, 40%);
  text-align: right;
  font-family: monospace;
}