body {
  height: 95vh;
  padding: 5%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Arial, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(45deg, hsl(331, 100%, 90%), hsl(202, 100%, 90%));
  background-repeat: no-repeat;
}